  <footer>
    <div class="container">
      <p>All rights not reserved</p>
    </div>
  </footer>
  <script type="text/javascript">
    <!--socket = io()-->
    var divChat = document.getElementById('divChat');
    function sendMessage(e, nickname) {
      if(!divChat) {
        divChat = document.getElementById('divChat');
      }
      e.preventDefault();
      var messageElem = document.getElementById('messageToAll');
      var message = messageElem.value
      if (message) {
        socket.emit("messageToAll", { nickname: nickname,
                                      message: messageElem.value}, () => {
          //divChat.innerHTML = divChat.innerHTML + messageElem.value + '</br>'
          messageElem.value = ''
          messageElem.focus()
        });

        socket.on("messageToAll", (messageToAll) => {
          divChat.innerHTML = divChat.innerHTML + messageToAll.nickname + ': ' + messageToAll.message + '<br>'
        });
      }
    }

    function clearChat(event) {
      console.log('clearing...');

      document.getElementById('divChat').value = '';
      event.preventDefault();
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
