<form action="/createCourse" method="post">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre estudiante" required/><br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" name="nota1" placeholder="Nota 1" required/><br>
      </div>
      <div class="col">
        <input type="number" class="form-control" name="nota2" placeholder="Nota 2" required/><br>
      </div>
      <div class="col">
        <input type="number" class="form-control" name="nota3" placeholder="Nota 3" required/><br>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary">Calcular</button>
    </div>
  </div>
</form>
