{{>header}}
<div class="container">
  <input type="hidden" name="idCourse" value="{{idCourse}}">
  <h5 class="card-title">Students: </h5> <h1>{{nameCourse}}</h1>
  {{{showStudentsByCourse idCourse resListStudents}}}
  <br>
</div>
{{>footer}}
