{{>header}}
<div class="container">
  <input type="hidden" name="idCourse" value="{{idCourse}}">
  <h5 class="card-title">Registered students in the {{{getCourseName idCourse}}} course</h5>
  {{{showStudentsByCourse idCourse resListStudents}}}
  <br>
</div>
{{>footer}}
