{{>header}}
<div class="container">
  <h5 class="card-title">Welcome, in this page you can handle the courses</h5>
  <h1>{{myTitle}}</h2
  </br>
  <img src="data:img/png;jpeg;jpg;base64, {{userImage}}" class="img-fluid">
</div>
{{>footer}}
