<form action="/loginUser" method="post">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sign in</th>
      </tr>
      <tr>
        <th scope="col">Sign up</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div>
            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</form>
